
.category .page-title-box {
  padding: 10px 0;
}

.category .page-title-box .page-title{
  color: #2F5678;
  font-size: 12xp;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.shadow-sm.bg-white.rounded.card {
  border: 1px;
}
.category .table{
  margin-top: 20px;
  
}
.category .table thead th{
  background-color: #EEF2F7;
  color: #313A46;
  font-family: "Nunito Sans", sans-serif;
  white-space: nowrap;
}
.category .table tbody tr td{
  font-family: 'Nunito Sans';
  font-weight: 400;
}
.category .table thead td ~ i{

  font-size: 15px;
}
.badge-danger-lighten {
 /* color: #fa5c7c; */
 
}